<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Documents</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
<div class="header">
	<h1>RETARDADOS 3</h1>
	<p>A B D U Z C A N</p>
</div>
<div class="menu">
	<a href="">menu1</a>
	<a href="">menu2</a>
    <a href="">menu3</a>
    <a href="">menu4</a>
</div>
<div class="contenido">
	<div class="izquierda">
		<div class="item">
		<h2>INICIO</h2>
		<img src="https://vignette.wikia.nocookie.net/inciclopedia/images/e/e7/Like_a.jpg/revision/latest?cb=20181119023856" alt="" class="imagen">	
		</div>
	</div>

<div class="derecha">
	<div class="item">
		<h2>informacion</h2>
		<img src="https://vignette.wikia.nocookie.net/inciclopedia/images/e/e7/Like_a.jpg/revision/latest?cb=20181119023856" alt="" class="imagen">
	</div>
</div>
</div>

<div class="footer">
	<h2>&copy; 2019</h2>
</div>

</body>
</html>